body {
  background: White;
  width: 350px;
  margin: auto;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p{
  margin: 0.2rem 0rem;
}

.h2-text{
  margin-bottom: 2rem;
}

#weather{
  background: white;
}

#weather-message{
  background: white;
}

#weather-weekdays{
  background: white;
}

.weather-row {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.weather-row p {
  margin: 0;
  border-right: 1px solid black;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
}

.weather-row .none-border {
  margin: 0;
  border-right: none;
}

hr{
  border: 1px dotted black;
  margin: 0.2rem 0rem;
}

.weather-row {
  display: flex;
  align-items: center;
}

.weather-row .weather-icon {
  font-size: 48px;
  margin-bottom: -1rem;
}

.weather-temp{
  display: flex;
  justify-content: space-between;
}